In [18]:
import numpy as np 
import pandas as pd

In [19]:
# Dataset location
database = '/Users/krishnaprasad/Study/NYU/Capstone/STRIKE_REPORTS_1990_1999_MAS.csv'

# Read in a CSV file and store the contents in a dataframe (df)
df_1990 = pd.read_csv(database, low_memory=False,encoding = "ISO-8859-1")

In [20]:
df_1990

,INDEX_NR,OPID,OPERATOR,ATYPE,AMA,AMO,EMA,EMO,AC_CLASS,AC_MASS,...,REPORTED_NAME,REPORTED_TITLE,REPORTED_DATE,SOURCE,PERSON,NR_INJURIES,NR_FATALITIES,LUPDATE,TRANSFER,INDICATED_DAMAGE
0,100000,AAL,AMERICAN AIRLINES,B-727,148,10,34.0,10,A,4.0,...,Deleted,Deleted,5/14/92,FAA Form 5200-7,Pilot,NaN,NaN,3/14/96,False,False
1,100001,UAL,UNITED AIRLINES,B-737-300,148,24,10.0,01,A,4.0,...,Deleted,Deleted,NaN,Air Transport Report,Air Transport Operations,NaN,NaN,12/20/07,False,False
2,100002,UAL,UNITED AIRLINES,B-737-300,148,24,10.0,01,A,4.0,...,Deleted,Deleted,NaN,Air Transport Report,Air Transport Operations,NaN,NaN,12/20/07,False,False
3,100003,UAL,UNITED AIRLINES,B-757-200,148,26,34.0,40,A,4.0,...,Deleted,Deleted,NaN,Air Transport Report,Air Transport Operations,NaN,NaN,12/20/07,False,False
4,100004,UAL,UNITED AIRLINES,A-320,04A,03,23.0,01,A,4.0,...,Deleted,Deleted,NaN,Air Transport Report,Air Transport Operations,NaN,NaN,12/20/07,False,False
5,100005,UAL,UNITED AIRLINES,A-320,04A,03,23.0,01,A,4.0,...,Deleted,Deleted,NaN,Air Transport Report,Air Transport Operations,NaN,NaN,12/20/07,False,True
6,100006,AAL,AMERICAN AIRLINES,B-727-100,148,10,34.0,10,A,4.0,...,Deleted,Deleted,6/5/91,Other,Pilot,NaN,NaN,11/21/97,False,False
7,100007,AMW,AIR MIDWEST,BE-1900,123,27,31.0,04,A,3.0,...,NaN,NaN,NaN,FAA Form 5200-7,NaN,NaN,NaN,5/13/98,False,True
8,100008,UAL,UNITED AIRLINES,B-737-500,148,33,10.0,01,A,4.0,...,Deleted,Deleted,NaN,Air Transport Report,Air Transport Operations,NaN,NaN,12/20/07,False,False
9,100009,AAL,AMERICAN AIRLINES,MD-80,583,37,34.0,10,A,4.0,...,Deleted,Deleted,NaN,FAA Form 5200-7,Pilot,NaN,NaN,1/21/99,False,False
10,100010,WWM,WINGS WEST,MERLIN IV,915,95,19.0,04,A,2.0,...,NaN,NaN,NaN,FAA Form 5200-7,NaN,NaN,NaN,5/8/14,False,False
11,100011,PHD,DUNCAN AVIATION,LEARJET-35,395,04,19.0,01,A,3.0,...,Deleted,Deleted,3/31/94,FAA Form 5200-7,Tower,NaN,NaN,5/16/98,False,False
12,100012,PVT,PRIVATELY OWNED,C-152,226,36,7.0,NaN,A,1.0,...,NaN,NaN,NaN,FAA Form 5200-7,NaN,NaN,NaN,3/1/12,False,True
13,100013,UNKC,UNKNOWN COMMERCIAL,DC-9,583,90,34.0,10,A,4.0,...,Deleted,Deleted,9/10/90,FAA Form 5200-7,Pilot,NaN,NaN,7/17/13,False,False
14,100014,PVT,PRIVATELY OWNED,C-152,226,36,7.0,07,A,1.0,...,Deleted,Deleted,4/14/95,FAA Form 5200-7,Pilot,NaN,NaN,6/1/98,False,False
15,100015,AAL,AMERICAN AIRLINES,MD-11,583,39,22.0,07,A,4.0,...,Deleted,Deleted,12/8/93,FAA Form 5200-7,Pilot,NaN,NaN,5/14/98,False,False
16,100016,DAL,DELTA AIR LINES,B-737-200,148,13,34.0,10,A,4.0,...,Deleted,Deleted,9/30/94,FAA Form 5200-7,Pilot,NaN,NaN,5/28/98,False,False
17,100017,UNK,UNKNOWN,C-182 SKYLAN,226,11,NaN,NaN,A,1.0,...,Deleted,Deleted,NaN,FAA Form 5200-7,Airport Operations,NaN,NaN,1/12/99,False,False
18,100018,ASA,ALASKA AIRLINES,MD-80,583,37,34.0,10,A,4.0,...,Deleted,Deleted,7/17/90,FAA Form 5200-7,Pilot,NaN,NaN,3/19/02,False,False
19,100019,SWA,SOUTHWEST AIRLINES,B-737-300,148,24,10.0,01,A,4.0,...,NaN,NaN,3/28/91,FAA Form 5200-7,NaN,NaN,NaN,5/12/03,False,False
20,100020,UAL,UNITED AIRLINES,B-757-200,148,26,34.0,40,A,4.0,...,Deleted,Deleted,NaN,Multiple,Air Transport Operations,NaN,NaN,7/13/09,False,True
21,100021,MDW,MIDWAY AIRLINES,B-737,148,95,34.0,NaN,A,4.0,...,Deleted,Deleted,5/25/90,FAA Form 5200-7,Tower,NaN,NaN,3/8/99,False,False
22,100022,BUS,BUSINESS,C-425,226,40,31.0,04,A,2.0,...,NaN,NaN,2/6/91,FAA Form 5200-7,NaN,NaN,NaN,5/28/98,False,False
23,100023,AAL,AMERICAN AIRLINES,B-727-200,148,11,34.0,10,A,4.0,...,Deleted,Deleted,4/13/91,FAA Form 5200-7,Pilot,NaN,NaN,12/5/97,False,False
24,100024,CKT,CALEDONIAN AIRWAYS,C-152,226,36,7.0,07,A,1.0,...,NaN,NaN,NaN,FAA Form 5200-7,NaN,NaN,NaN,8/3/98,False,False
25,100025,USA,1US AIRWAYS,B-737,148,95,NaN,NaN,A,4.0,...,Deleted,Deleted,10/10/90,FAA Form 5200-7,Pilot,NaN,NaN,12/21/98,False,False
26,100026,AAL,AMERICAN AIRLINES,MD-80,583,37,34.0,10,A,4.0,...,Deleted,Deleted,9/12/90,FAA Form 5200-7,Pilot,NaN,NaN,1/11/99,False,False
27,100027,BTA,EXPRESSJET (CONTINENTAL EXPRS),ATR-42,097,01,31.0,10,A,3.0,...,Deleted,Deleted,10/18/91,AC Incident Rept,Tower,NaN,NaN,5/19/05,False,True
28,100028,UCA,COMMUTAIR,BE-1900,123,27,31.0,04,A,3.0,...,NaN,NaN,NaN,FAA Form 5200-7,NaN,NaN,NaN,5/8/98,False,False
29,100029,AAL,AMERICAN AIRLINES,B-757-200,148,26,37.0,37,A,4.0,...,Deleted,Deleted,10/16/90,FAA Form 5200-7,NaN,NaN,NaN,12/21/98,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30058,130155,1AAH,ALOHA AIRLINES,B-737-200,148,13,34.0,10,A,4.0,...,NaN,NaN,NaN,Airport Report,Airport Operations,NaN,NaN,7/5/12,False,False
30059,130156,UNK,UNKNOWN,UNKNOWN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Airport Report,Carcass Found,NaN,NaN,7/5/12,False,False
30060,130157,UNK,UNKNOWN,UNKNOWN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Airport Report,Carcass Found,NaN,NaN,7/5/12,False,False
30061,130158,UNK,UNKNOWN,UNKNOWN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Airport Report,Carcass Found,NaN,NaN,7/5/12,False,False
30062,130159,1AAH,ALOHA AIRLINES,B-737-200,148,13,34.0,10,A,4.0,...,NaN,NaN,NaN,Airport Report,Airport Operations,NaN,NaN,7/31/15,False,False
30063,130160,UNK,UNKNOWN,UNKNOWN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Airport Report,Carcass Found,NaN,NaN,7/5/12,False,False
30064,130161,UNK,UNKNOWN,UNKNOWN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Airport Report,Carcass Found,NaN,NaN,7/5/12,False,False
30065,130162,UNK,UNKNOWN,UNKNOWN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Airport Report,Carcass Found,NaN,NaN,7/5/12,False,False
30066,130163,UNK,UNKNOWN,UNKNOWN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Airport Report,Carcass Found,NaN,NaN,7/5/12,False,False
30067,130164,UNK,UNKNOWN,UNKNOWN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Airport Report,Carcass Found,NaN,NaN,7/31/15,False,False
30068,130165,1AAH,ALOHA AIRLINES,B-737-200,148,13,34.0,10,A,4.0,...,NaN,NaN,NaN,Airport Report,Airport Operations,NaN,NaN,7/5/12,False,False
30069,130166,UNK,UNKNOWN,UNKNOWN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Airport Report,Carcass Found,NaN,NaN,7/5/12,False,False
30070,130167,UNK,UNKNOWN,UNKNOWN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Airport Report,Carcass Found,NaN,NaN,7/5/12,False,False
30071,130168,UNK,UNKNOWN,UNKNOWN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Airport Report,Carcass Found,NaN,NaN,7/5/12,False,False
30072,130170,UNK,UNKNOWN,UNKNOWN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Other,Carcass Found,NaN,NaN,5/15/14,False,False
30073,130171,USA,1US AIRWAYS,B-737-300,148,24,10.0,01,A,4.0,...,Deleted,Deleted,NaN,Engine Manufacturer,Other,NaN,NaN,5/23/13,False,True
30074,130172,UNK,UNKNOWN,UNKNOWN,NaN,NaN,NaN,NaN,NaN,NaN,...,Deleted,Deleted,3/13/14,Other,Carcass Found,NaN,NaN,4/10/14,False,False
30075,130173,UNK,UNKNOWN,UNKNOWN,NaN,NaN,NaN,NaN,NaN,NaN,...,Deleted,Deleted,NaN,Other,Carcass Found,NaN,NaN,NaN,False,False
30076,130174,PVT,PRIVATELY OWNED,HOMEBUILT,998,01,7.0,19,NaN,1.0,...,Deleted,Deleted,NaN,FAA Form 5200-7,Pilot,NaN,NaN,2/17/16,False,True
30077,130175,UNKC,UNKNOWN COMMERCIAL,UNKNOWN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Other,NaN,NaN,NaN,11/12/15,False,False
30078,130176,UNKC,UNKNOWN COMMERCIAL,UNKNOWN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Other,NaN,NaN,NaN,11/12/15,False,False
30079,130177,UNKC,UNKNOWN COMMERCIAL,UNKNOWN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Other,Other,NaN,NaN,11/12/15,False,False
30080,130178,PVT,PRIVATELY OWNED,PA-28,729,23,NaN,NaN,A,1.0,...,NaN,NaN,NaN,FAA Form 5200-7,NaN,NaN,NaN,2/10/16,False,True
30081,130179,PVT,PRIVATELY OWNED,PA-28,729,23,NaN,NaN,A,1.0,...,NaN,NaN,NaN,Other,Other,NaN,NaN,12/20/17,False,True
30082,130180,FLG*,PINNACLE,SAAB-340,778,05,22.0,22,A,3.0,...,NaN,NaN,NaN,Other,Other,NaN,NaN,12/20/17,False,False
30083,130181,BUS,BUSINESS,BE-95,123,19,13.0,13,A,1.0,...,NaN,NaN,NaN,Other,Other,NaN,NaN,12/20/17,False,True
30084,130182,PVT,PRIVATELY OWNED,C-150,226,05,NaN,NaN,A,1.0,...,NaN,NaN,NaN,Other,Other,NaN,NaN,12/20/17,False,True
30085,130183,UNK,UNKNOWN,C-150,226,05,NaN,NaN,A,1.0,...,NaN,NaN,NaN,Other,Other,NaN,NaN,12/20/17,False,True
30086,130184,PVT,PRIVATELY OWNED,TAYLORCR-BC,918,01,13.0,25,A,1.0,...,NaN,NaN,NaN,Other,Other,NaN,NaN,12/20/17,False,True
30087,130185,AAY,ALLEGIANT AIR,A-320,04A,03,NaN,NaN,A,4.0,...,Deleted,Deleted,6/5/18,FAA Form 5200-7-E,Air Transport Operations,NaN,NaN,9/17/18,False,False

In [21]:
# Dataset location
database = '/Users/krishnaprasad/Study/NYU/Capstone/STRIKE_REPORTS_2000_2009_MAS.csv'

# Read in a CSV file and store the contents in a dataframe (df)
df_2000 = pd.read_csv(database, low_memory=False,encoding = "ISO-8859-1")

In [22]:
df_2000.head()

,INDEX_NR,OPID,OPERATOR,ATYPE,AMA,AMO,EMA,EMO,AC_CLASS,AC_MASS,...,REPORTED_NAME,REPORTED_TITLE,REPORTED_DATE,SOURCE,PERSON,NR_INJURIES,NR_FATALITIES,LUPDATE,TRANSFER,INDICATED_DAMAGE
0,200000,SWA,SOUTHWEST AIRLINES,B-737-300,148,24.0,10.0,01,A,4.0,...,Deleted,Deleted,NaN,FAA Form 5200-7-E,Pilot,NaN,NaN,8/21/07,False,False
1,200001,USA,1US AIRWAYS,B-737-400,148,32.0,10.0,01,A,4.0,...,Deleted,Deleted,5/27/07,FAA Form 5200-7,Air Transport Operations,NaN,NaN,8/21/07,False,False
2,200002,BUS,BUSINESS,BE-33,123,6.0,13.0,16,A,1.0,...,Deleted,Deleted,8/9/00,FAA Form 5200-7,Pilot,NaN,NaN,10/6/00,False,True
3,200003,SWA,SOUTHWEST AIRLINES,B-737-300,148,24.0,10.0,01,A,4.0,...,NaN,NaN,NaN,FAA Form 5200-7,NaN,NaN,NaN,5/17/00,False,False
4,200004,AAL,AMERICAN AIRLINES,MD-80,583,37.0,34.0,10,A,4.0,...,Deleted,Deleted,NaN,PACIR,Tower,NaN,NaN,7/14/00,False,False

In [23]:
# Dataset location
database = '/Users/krishnaprasad/Study/NYU/Capstone/STRIKE_REPORTS_2010_1.csv'

# Read in a CSV file and store the contents in a dataframe (df)
df_2010_1 = pd.read_csv(database, low_memory=False,encoding = "ISO-8859-1")

In [24]:
df_2010_1.head()

,INDEX_NR,OPID,OPERATOR,ATYPE,AMA,AMO,EMA,EMO,AC_CLASS,AC_MASS,...,REPORTED_NAME,REPORTED_TITLE,REPORTED_DATE,SOURCE,PERSON,NR_INJURIES,NR_FATALITIES,LUPDATE,TRANSFER,INDICATED_DAMAGE
0,1,BUS,BUSINESS,PA-28,729,23.0,NaN,NaN,A,1.0,...,Deleted,Deleted,NaN,MOR,Tower,NaN,NaN,NaN,False,True
1,2,BUS,BUSINESS,BE-1900,123,27.0,31.0,04,A,3.0,...,Deleted,Deleted,NaN,MOR,Tower,NaN,NaN,NaN,False,True
2,4,BUS,BUSINESS,PA-46 MALIBU,729,45.0,NaN,NaN,A,1.0,...,Deleted,Deleted,NaN,MOR,Tower,NaN,NaN,NaN,False,True
3,6,DAL,DELTA AIR LINES,B-717-200,148,45.0,9.0,06,A,4.0,...,Deleted,Deleted,NaN,MOR,Tower,NaN,NaN,NaN,False,True
4,7,BUS,BUSINESS,BE-90 KING,NaN,NaN,NaN,NaN,NaN,NaN,...,Deleted,Deleted,NaN,MOR,Tower,NaN,NaN,NaN,False,True

In [25]:
# Dataset location
database = '/Users/krishnaprasad/Study/NYU/Capstone/STRIKE_REPORTS_2010_2.csv'

# Read in a CSV file and store the contents in a dataframe (df)
df_2010_2 = pd.read_csv(database, low_memory=False,encoding = "ISO-8859-1")

In [26]:
df_2010_2.head()

,INDEX_NR,OPID,OPERATOR,ATYPE,AMA,AMO,EMA,EMO,AC_CLASS,AC_MASS,...,REPORTED_NAME,REPORTED_TITLE,REPORTED_DATE,SOURCE,PERSON,NR_INJURIES,NR_FATALITIES,LUPDATE,TRANSFER,INDICATED_DAMAGE
0,360501,FDX,FEDEX EXPRESS,B-757-200,148,26,37.0,37,A,4.0,...,Deleted,Deleted,NaN,FAA Form 5200-7-E,Pilot,NaN,NaN,9/9/15,False,False
1,360502,FDX,FEDEX EXPRESS,DC-10-10,583,24,22.0,07,A,4.0,...,Deleted,Deleted,NaN,FAA Form 5200-7-E,Pilot,NaN,NaN,9/9/15,False,False
2,360503,FFT,FRONTIER AIRLINES,A-320,04A,03,10.0,01,A,4.0,...,Deleted,Deleted,NaN,FAA Form 5200-7-E,Airport Operations,NaN,NaN,9/9/15,False,False
3,360504,HAL,HAWAIIAN AIR,B-717-200,148,45,9.0,06,A,4.0,...,Deleted,Deleted,NaN,Multiple,Pilot,NaN,NaN,9/9/15,False,False
4,360505,JBU,JETBLUE AIRWAYS,EMB-190,332,NaN,22.0,04,A,4.0,...,Deleted,Deleted,NaN,FAA Form 5200-7-E,Airport Operations,NaN,NaN,9/9/15,False,False

In [27]:
df = [df_1990,df_2000,df_2010_1,df_2010_2]
strikes = pd.concat(df)
strikes.to_csv(r'Strikes.csv',index=False)